<div>
    <section class="widget" style="position: relative; min-height: 500px;">
        <loader [active]='loading'></loader>
        <div class="widget-header">
            <span class="title">Configurations for {{ plugin?.name }}</span>
            <div class="pull-xs-right" style="position: relative;">
                <a href='' (click)="showModal()" class="nav-link" role="button" aria-expanded="false">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let config of driverConfigs'>
                        <td><a href=''>{{ config.name }}</a></td>
                        <td class="width-150" style="position: relative;">
                            <div class="table-controls">
                                <button type="button" class="btn btn-success btn-sm" (click)="showModal(config.id)">
                                    <i class="fa fa-pencil-square-o"></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" (click)="deleteConfig(config)">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-bg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                    <h4 class="modal-title">Configure</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="test" [(ngModel)]='currentDriver.name' />
                    </div>
                    <dynamic-form2 [fields]="plugin?.settings" [(ngModel)]='currentSettings' (changed)='applyValidation()'></dynamic-form2>
                    <div>
                        <button type="button" class="btn btn-large btn-block btn-default" (click)="addOrUpdate(); hideModal()">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>