<div class="col-md-12">
    <section class="widget" style="position: relative; min-height: 500px;">
        <loader [active]='loading'></loader>
        <div class="widget-header">
            <span class="title">Installed drivers</span>           
        </div>
        <div class="widget-body">
            <div class="driver-container">
                <a *ngFor='let driver of drivers' [routerLink]="['/drivers/config']" [queryParams]='{ name: driver.name }' title="{{ driver.description }}">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span>{{ driver.name | uppercase }}</span>
                </a>
            </div>
        </div>
    </section>
</div>