.driver-container {
    display: flex;
    flex-wrap: wrap;
    >* {
        flex: 0 1 25%;
        height: 120px;
        background: #ffffff;
        font-size: 14px;
        font-weight: 300;
        transition: all .3s ease-in-out;
        overflow: hidden;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        color: #455A64!important;
        margin: 2px 2px;
        padding: 8px;
        padding-top: 25px;
        @media (max-width: 47.9em) {
            height: 100px;
            padding-top: 15px;
        }
        & span {
            padding: 0 8px;
            display: block;
            font-size: 1.5rem;
            @media (max-width: 47.9em) {
                font-size: 1.3rem;
            }
        }
        & i {
            font-size: 2.5rem;
            @media (max-width: 47.9em) {
                font-size: 2rem;
            }
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
        }
        box-shadow: 0 0 0 1px #F8F8F8 inset,
        0 0 0 1px #CCCCCC;
    }
}